header {
    background-color: rgb(253, 208, 154);
    display: flex;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

header nav ul li {
    display: inline-block;
    /* justify-content: space-between; */
}
nav {
    list-style: none;
}

h1 {
    color: rgb(74, 64, 51);
}

.aricle-image-div {
    background-color: rgb(253, 208, 154);
    display: flex;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

.projects-div {
    text-align: center;
    background-color: rgb(253, 208, 154);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

.image1 {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    /* why isnt the borderradius working */
}