body {
    background-color: blanchedalmond;
    padding: 0 100px;
}

header {
    background-color: rgb(253, 208, 154);
    display: flex;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

header nav ul li {
    display: inline-block;
    /* justify-content: space-between; */
    padding-right: 50px;
}
nav {
    list-style: none;
    /* width: 100%; */
}

h1 {
    color: rgb(74, 64, 51);
}

.aricle-image-div {
    background-color: rgb(253, 208, 154);
    display: flex;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

.projects-div {
    text-align: center;
    background-color: rgb(253, 208, 154);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

.image1 {
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    /* why isnt the borderradius working */
}

footer {
    background-color: rgb(253, 208, 154);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

footer ul {
    /* float: right; */
    list-style-type: none;
    display: flex;
}

.footer-list-item {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.contacts {
    text-align: center;
    padding: 20px;
    border: rgb(255, 179, 152) solid ;
    border-radius: 10px;
}


li:hover {
    background-color: blanchedalmond;
    border-radius: 10px;
    text-shadow: rgb(223, 197, 165);
    cursor: pointer;
    /* justify-content: center; */
    /* the text shadow is off centered ^*/
}

.bio-text  {
    padding: 20px;
    border: rgb(255, 179, 152) solid ;
    border-radius: 10px;
}

.projects-text {
    padding: 20px;
    border: rgb(255, 179, 152) solid ;
    border-radius: 10px;
}

.project-one {
    position: relative;

}

.project-one img {
    width: 100%;
}

.project-one p {
    /* position: absolute; */
    background-color: rgb(225, 175, 115);
    border-radius: 5px;
    padding: 10px;
}

.sub-projects {
    display: flex;
    justify-content: space-between;
}

.project {
    width: 48%;

}

.project img {
    width: 100%;
}


@media screen and (max-width: 992px) {
    body {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 20px;
    }
}
